<div mat-dialog-title>
  <h3>{{rekvirentName}}</h3>
</div>

<div mat-dialog-content>
  <!-- <h5>{{subtitle}}</h5> -->

  <!-- <div *ngIf="options?.length">
    <mat-selection-list #list [(ngModel)]="selectedOptions" (ngModelChange)="onSelection($event, list.selectedOptions)">
      <mat-list-option *ngFor="let o of options" [value]="o">
        {{o}}
      </mat-list-option>
    </mat-selection-list>
  </div> -->
  <mat-tab-group>
    <mat-tab  *ngIf="debitorer.length > 0" label="Foreslåede debitorer">
      <p>
        <mat-form-field appearance="fill">
        <mat-label>Vælg debitor</mat-label>
        <mat-select [(value)]="DebitorResponse">
          <div *ngFor="let debitor of debitorer">
            <mat-option value={{debitor.debitor_nr}}>{{debitor.navn}}</mat-option>
          </div>
          </mat-select>
        </mat-form-field>
        </p>
      </mat-tab>
      <mat-tab label="Manuel indtastning">
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Indtast debitor-nummer</mat-label>
            <input matInput [(ngModel)]="DebitorResponse">
            <!-- <mat-hint>Hint</mat-hint> -->
          </mat-form-field>
        </p>
      </mat-tab>
    <!-- <mat-tab label="Third"> Content 3 </mat-tab> -->
  </mat-tab-group>


</div>

<div mat-dialog-actions align="end">
  <button mat-raised-button (click)="annuller()">Annuller</button>
  <button class="mat-raised-button mat-primary" (click)="ok()">Gem</button>
  <!-- </mat-dialog-actions> -->
</div>