<!-- <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">{{spinnerText}}</p>
</ngx-spinner> -->

<div class="container">
  <div class="row">
    View:
    <select [(ngModel)]="view" name="selectedView" id="selectedView" class="form-control-sm table-item-width center"
      #selectedview="ngModel">
      <option *ngFor="let view of views" [value]="view"> {{view}} </option>
    </select>
    {{ testtext }}
    <button type="button" class="btn" (click)="noop()">Test</button>

  </div>


  <div class="center container" *ngIf="view == 'faktsInParse' || view == 'betGrpInParse'">
    <div class="row">
      <button type="button" class="btn" (click)="view='parses'; selectedParsing = undefined">Tilbage</button>
    </div>
  </div>

  <!-- Initial view, all parses -->
  <div class="center container" *ngIf="view=='parses'">

    <div class="row">
      <div class="list-group col-md-10 offset-md-1">
        <div class="row align-items-center justify-content-center">
          <div class="card list-width">
            <div class="card-header text-white bg-info">
              <div class="card-header-top w-100 justify-content-between center">
                <h3 class="mb-1">Alle indlæste faktura-filer</h3>
              </div>
              <div>
                <input [(ngModel)]="parsingSearchTerm" placeholder="Søg efter fakturafil" aria-label="Parsing"
                  class="form-control py-2 search-input" name="parsing" />
                <!-- [formControl]="analyseControl" -->
              </div>
              <br>
              <div class="d-flex w-100 justify-content-between">
                <!-- <mat-date-range-input [rangePicker]="picker">
                  <input matStartDate placeholder="Start date"><br>
                  <input matEndDate placeholder="End date">
                </mat-date-range-input>
                
                <mat-date-range-picker #picker></mat-date-range-picker> -->
                <select [(ngModel)]="parsetypeToShow" name="parsetypeToShow" id="parsetypeToShow"
                  class="form-control-sm table-item-width center" #selectedview="ngModel">
                  <option *ngFor="let parsetype of parsetypes" [value]="parsetype"> {{parsetype}} </option>
                </select>

                <div>
                  <input [(ngModel)]="parsingStartDate" matInput [matDatepicker]="pickerStart" placeholder="Fra"
                    (change)="noop()">
                  <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                  <mat-datepicker #pickerStart></mat-datepicker>
                </div>
                <div>
                  <input [(ngModel)]="parsingEndDate" matInput [matDatepicker]="pickerEnd" placeholder="Til">
                  <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                  <mat-datepicker #pickerEnd></mat-datepicker>
                </div>
              </div>
            </div>


            <div class="card-body">

              <!-- <button type="button" class="center margin-bottom btn btn-success" (click)="submitPrices()">Opret nye
                priser</button> -->

              <ul class="list-group">
                <div *ngFor="let parse of allParses; let i = index">
                  <li class="list-group-item" *ngIf="parseSatisfiesSearch(parse)">
                    <div class="d-flex w-100 justify-content-between">
                      <label style="margin-bottom:0px; margin-top:0.2rem">Filnavn:
                        {{ parse.filename }}</label>
                      <label style="margin-bottom:0px; margin-top:0.2rem">Uploadet:
                        {{ parse.oprettet | date }}</label>
                    </div>
                    <div class="d-flex w-100 justify-content-between">
                      <!-- <button type="button" class="btn" (click)="noop()">Betalergrupper</button> -->
                      <button type="button" class="btn" (click)="onSelectAlleFakturaer(parse)">Alle fakturaer</button>
                      <button type="button" class="btn" (click)="downloadMangelliste(parse)">Mangelliste</button>
                      <button type="button" class="btn btn-danger" (click)="writeDateOfParse(parse)">Fjern</button>
                    </div>
                  </li>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Alle fakturaer i ét parse -->
  <div class="center container" *ngIf="view=='faktsInParse'">
    <!-- <div class="row">
      <button type="button" class="btn" (click)="view='parses'; selectedParsing = undefined">Tilbage</button>
    </div> -->
    <div class="row">
      <div class="list-group col-md-10 offset-md-1">
        <div class="row align-items-center justify-content-center">
          <div class="card list-width">
            <div class="card-header text-white bg-info">
              <div class="card-header-top w-100 justify-content-between center">
                <h3 class="mb-1">{{ selectedParsing.filename }} ({{ selectedParsing.oprettet | date }}):</h3>
              </div>
              <!-- <div class="container"> -->
                <div class="row">
                  <div class="col-md-2">
                    {{ EnumFakturaStatus }}
                    <select [(ngModel)]="status" name="selectedStatus" id="selectedStatus"
                    class="form-control-sm table-item-width center" #selectedStatus="ngModel">
                    <!-- <option *ngFor="let status of EnumFakturaStatus | keyvalue" [value]="status"> {{status.key}} </option> -->
                    <option [value]="0">Alle</option>
                    <option [value]="10">Oprettet</option>
                    <option [value]="20">Sendt</option>
                    <option [value]="30">Slettet</option>
                  </select>
                  </div>
                  <div class="col-md-8">
                    <input [(ngModel)]="fakturaSearchTerm" placeholder="Søg efter faktura" aria-label="Parsing"
                    class="form-control py-2 search-input" name="parsing" />
                  </div>
                <!-- </div> -->
              </div>
              <div>
              </div>
            </div>
  

            <div class="card-body">

              <!-- <button type="button" class="center margin-bottom btn btn-success" (click)="submitPrices()">Opret nye
                priser</button> -->

              <ul class="list-group">
                <div *ngFor="let faktura of selectedParsing.fakturaer; let i = index">
                  <li class="list-group-item" *ngIf="fakturaSatisfiesSearch(faktura)">
                    <div class="d-flex w-100 justify-content-between">
                      <label style="margin-bottom:0px; margin-top:0.2rem"> Rekvirent:
                        {{ faktura.rekvirent.afdelingsnavn }}
                      </label>
                      <!-- <label style="margin-bottom:0px; margin-top:0.2rem">
                        {{ faktura.analyser.length }} analyser
                      </label> -->
                    </div>
                    <div class="d-flex w-100 justify-content-between">
                      <label style="margin-bottom:0px; margin-top:0.2rem"> Betalergruppe:
                        <div *ngIf="faktura.rekvirent.betalergruppe" style="display:inline">
                          {{ faktura.rekvirent.betalergruppe.navn }} ({{ faktura.rekvirent.betalergruppe.bgtype }})
                        </div>
                      </label>
                      <label style="margin-bottom:0px; margin-top:0.2rem"> Samlet pris:
                        {{ faktura.samlet_pris }} kr.
                      </label>
                    </div>
                    <div class="d-flex w-100 justify-left">
                      <label style="margin-bottom:0px; margin-top:0.2rem"> Status:
                        {{ faktura.status }}
                      </label>
                    </div>
                    <!-- <div class="d-flex w-100 justify-content-between">
                      <label style="margin-bottom:0px; margin-top:0.2rem">Ekstern pris:
                        {{pris.ekstern_pris}}</label>
                      <label style="margin-bottom:0px; margin-top:0.2rem">Gyldig til:
                        {{pris.gyldig_til | date}}</label>
                    </div> -->
                    <!-- <div class="d-flex w-100 justify-content-between">
                      <label style="margin-bottom:0px; margin-top:0.2rem">Analysetype:
                        {{pris.analyse_type.ydelses_kode}}</label>
                    </div> -->
                    <div class="d-flex w-100 justify-content-between">
                      <!-- <label *ngIf="pris.duplikat"
                        style="margin-bottom:0px; margin-top:0.2rem; color:red">DUPLIKAT</label>
                      <label *ngIf="!pris.duplikat"></label> -->
                      <button type="button" class="btn btn-success" (click)="writeIDOfFakt(faktura)">Send</button>
                      <button type="button" class="btn btn-danger"
                        (click)="writeBG(faktura.rekvirent.betalergruppe)">Slet</button>
                    </div>
                  </li>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>