<div mat-dialog-title>
  <h3>{{rekvirentName}}</h3>
</div>

<div mat-dialog-content>
  <!-- <h5>{{subtitle}}</h5> -->

  <!-- <div *ngIf="options?.length">
    <mat-selection-list #list [(ngModel)]="selectedOptions" (ngModelChange)="onSelection($event, list.selectedOptions)">
      <mat-list-option *ngFor="let o of options" [value]="o">
        {{o}}
      </mat-list-option>
    </mat-selection-list>
  </div> -->
  Test
</div>

<div mat-dialog-actions align="end">
  <button mat-raised-button (click)="annuller()">Annuller</button>
  <button class="mat-raised-button mat-primary" (click)="ok()">Accepter</button>
<!-- </mat-dialog-actions> -->
</div>