<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white"> {{ spinnertext }} </p>
</ngx-spinner>

<div class="container">
  <div class="center container">
    <div class="row">
      <div class="list-group col-md-10 offset-md-1">
        <div class="row align-items-center justify-content-center">
          <div class="card list-width">
            <div class="card-header text-white bg-info">
              <div class="card-header-top w-100 justify-content-between center">
                <h3 class="mb-1">Rekvirenter uden debitor-nummer eller betalergruppe</h3>
              </div>
              <div>
                <input placeholder="Søg efter rekvirenter på deres navn, kode eller betalergruppe"
                  aria-label="Rekvirent" class="form-control py-2 search-input" [formControl]="rekvirentControl"
                  name="rekvirent" />
              </div>
            </div>
            <div class="container">
              <div class="rek-group row search-results">
                <div class="col-md">
                  <div *ngFor="let rekvirent of filteredRekvirenter | async">
                    <li class="list-group-item">
                      <div class="d-flex w-100 justify-content-between">
                        <label style="margin-bottom:0px; margin-top:0.2rem"> Rekvirent:
                          {{ rekvirent.shortname }}
                        </label>
                        <!-- <label style="margin-bottom:0px; margin-top:0.2rem">
                          {{ faktura.analyser.length }} analyser
                        </label> -->
                      </div>
                      <div class="d-flex w-100 justify-content-between">
                        <label style="margin-bottom:0px; margin-top:0.2rem">
                          Rekvirentnummer: {{ rekvirent.rekv_nr }}
                        </label>
                      </div>
                      <div class="d-flex w-100 justify-content-between">
                        <label style="margin-bottom:0px; margin-top:0.2rem">
                          <div *ngIf="rekvirent.betalergruppe; else elseBlockBG" style="display:inline">
                            Betalergruppe: {{ rekvirent.betalergruppe.navn }} ({{ rekvirent.betalergruppe.bgtype }})
                          </div>
                          <ng-template #elseBlockBG><button type="button" class="btn" *ngIf="!rekvirent.betalergruppe"
                            (click)="openBetalergruppedialog(rekvirent)">Vælg betalergruppe</button></ng-template>
                        </label>
                        <div *ngIf="rekvirent.debitor_nr else elseBlockDebitor" style="display:inline">
                          Debitor-nummer: {{ rekvirent.debitor_nr }}
                        </div>
                        <ng-template #elseBlockDebitor><button type="button" class="btn" *ngIf="!rekvirent.debitor_nr"
                          (click)="openEANdialog(rekvirent)">Indtast debitor-nummer</button></ng-template>
                        <!-- <label style="margin-bottom:0px; margin-top:0.2rem"> Samlet pris:
                          {{ faktura.samlet_pris }} kr.
                        </label> -->
                      </div>
                      <!-- <div class="d-flex w-100 justify-left">
                        <label style="margin-bottom:0px; margin-top:0.2rem"> Status:
                          {{ faktura.status }}
                        </label>
                      </div> -->
                    </li>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>