<div class="container">
  <div class="center container">
    <div class="row">
      <div class="list-group col-md-10 offset-md-1">
        <div class="row align-items-center justify-content-center">
          <div class="card list-width">
            <div class="card-header text-white bg-info">
              <div class="card-header-top w-100 justify-content-between center">
                <h3 class="mb-1">Alle indlæste faktura-filer</h3>
              </div>
              <div>
                <input [(ngModel)]="SearchTerm" placeholder="Søg efter rekvirent" aria-label="Parsing"
                  class="form-control py-2 search-input" name="SearchTerm" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>